# Editors
.vscode/
.idea/
.Python
.env
.venv
# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
__pycache__/*
*.py[cod]
*$py.class
*.pyc
*.sqlite3

# log stuff:
*.log
*.DEBUG
*.INFO
*.WARN
*.ERROR
archived/

# dev data
*dev*.csv
